// Folders to ignore
obj
bin
.vscode
rabbitmq
graphhopper_data
tms-file-storage-data

//Files to ignore
appsettings.Development.json
*.sln
Transportation-Management-Systems-Document-Service-REST-API/src/main/resources/application.properties
